<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New project</title>
  <style>
    .title {
      background-color: black;
      color: orange;
      padding: 30px 40px;
    }
  </style>
</head>
<body>
  <h1 class="title">Home page</h1>
  <nav>
    <a href="/contacts.html">Contacts</a>
    <a href="/about.html">About</a>
  </nav>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis saepe harum voluptatem est aliquid accusamus quam nulla unde sit quaerat eaque dicta distinctio, atque dolor, a laboriosam omnis architecto magnam repellat temporibus tempora quo tenetur tempore! Corporis odio vitae perferendis nesciunt esse. Quam facere est perspiciatis repudiandae, possimus eveniet, at ipsa natus omnis corporis dolorum mollitia voluptates commodi. Adipisci iste rerum molestias earum iusto modi excepturi maxime aspernatur qui aut vero quo minima, quaerat laboriosam itaque sed ducimus. Quo eius et numquam, enim explicabo voluptatem? Architecto dignissimos, commodi voluptate porro laudantium, iste rerum explicabo nesciunt, minus amet sapiente tenetur vitae?</p>
</body>
</html>